<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}\UPSBatteryController\Logs" />
  <targets>
    <target name="file"
            xsi:type="File"
            encoding="utf-8"
            fileName="${logDirectory}\${shortdate}.txt"
            layout="${longdate}|${level:uppercase=true}|${message}|${callsite}${onexception:|${exception:format=type,message,method,stacktrace:separator=|:innerExceptionSeparator= ==> :maxInnerExceptionLevel=7:innerFormat=type,message,stacktrace}}"
            archiveFileName="${logDirectory}\{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace"  writeTo="file" />
  </rules>
</nlog>